#*.mod
#*.o

*.DS_Store
*.log
*.status

# EXAMPLE OUTPUT_FILES stuff.
EXAMPLES/*/*/

# Files re-created on installation.
setup/constants.h
src/meshfem2D/scotch_6.0.4/include/scotch.h
src/meshfem2D/scotch_6.0.4/src/libscotch/parser_ll.c
src/meshfem2D/scotch_6.0.4/src/libscotch/parser_ly.h
src/meshfem2D/scotch_6.0.4/src/libscotch/parser_yy.c
src/meshfem2D/scotch_6.0.4/src/libscotch/scotch.h

# Other dynamic files.
Makefile
bin/
obj/
src/meshfem2D/scotch_6.0.4/bin/
src/meshfem2D/scotch_6.0.4/lib/
src/meshfem2D/scotch_6.0.4/src/libscotch/dummysizes
src/meshfem2D/scotch_6.0.4/src/libscotch/y.output

src/meshfem2D/scotch_6.0.4/src/scotch/*
src/meshfem2D/scotch_6.0.4/src/libscotch/*.[ao]
src/meshfem2D/scotch_6.0.4/src/libscotchmetis/*.[ao]

src/meshfem2D/scotch_6.0.4/src/scotch/amk_grf
src/meshfem2D/scotch_6.0.4/src/scotch/amk_hy
src/meshfem2D/scotch_6.0.4/src/scotch/gotst
src/meshfem2D/scotch_6.0.4/src/scotch/gtst
src/meshfem2D/scotch_6.0.4/src/scotch/gord
src/meshfem2D/scotch_6.0.4/src/scotch/amk_p2
src/meshfem2D/scotch_6.0.4/src/scotch/gbase
src/meshfem2D/scotch_6.0.4/src/scotch/gmk_ub2
src/meshfem2D/scotch_6.0.4/src/scotch/gmk_hy
src/meshfem2D/scotch_6.0.4/src/scotch/gcv
src/meshfem2D/scotch_6.0.4/src/scotch/mcv
src/meshfem2D/scotch_6.0.4/src/scotch/gpart
src/meshfem2D/scotch_6.0.4/src/scotch/mord
src/meshfem2D/scotch_6.0.4/src/scotch/mtst
src/meshfem2D/scotch_6.0.4/src/scotch/gmap
src/meshfem2D/scotch_6.0.4/src/scotch/acpl
src/meshfem2D/scotch_6.0.4/src/scotch/amk_m2
src/meshfem2D/scotch_6.0.4/src/scotch/mmk_m3
src/meshfem2D/scotch_6.0.4/src/scotch/mmk_m2
src/meshfem2D/scotch_6.0.4/src/scotch/amk_ccc
src/meshfem2D/scotch_6.0.4/src/scotch/gscat
src/meshfem2D/scotch_6.0.4/src/scotch/gmtst
src/meshfem2D/scotch_6.0.4/src/scotch/gmk_m3
src/meshfem2D/scotch_6.0.4/src/scotch/gmk_msh
src/meshfem2D/scotch_6.0.4/src/scotch/gmk_m2
src/meshfem2D/scotch_6.0.4/src/scotch/gout
src/meshfem2D/scotch_6.0.4/src/scotch/atst
src/meshfem2D/scotch_6.0.4/src/scotch/amk_fft2